<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestPlist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05C385891CE1816F0030ADCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05C385A21CE1816F0030ADCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05C385AD1CE1816F0030ADCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
